body {
    max-width: 800px;
    margin: 50px auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {color: grey;}

h2 {color: darkred;}

.canvas {border: 1px solid black;}

.navbar {
    text-align: right;
    text-decoration: none;
}

.navitem {
    display: inline-block;
}

.hiddentext {
    display: none;
}

.p1 {color: darkred;}

.p2 {color: darkgreen;}

.p3 {color: darkblue;}

.footernav {
    list-style-type: square;
}

@media (max-width: 600px) {
    .section {
        display: none;
    }

    .hiddentext {
        display: block;
        font-size: 1.2rem;
    }

    body {
        padding: 20px;
    }
}
